<ion-header>
    <ion-toolbar>
        <ion-title>Place Detail</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/places"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedPlace">
    <ion-list id = "place-detail">
        <ion-item>
            <ion-label>City</ion-label>
            <ion-label>{{selectedPlace.city}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Country</ion-label>
            <ion-label>{{selectedPlace.country}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Favorite Season</ion-label>
            <ion-label>{{getSeason(selectedPlace.favoriteSeason)}}</ion-label>
        </ion-item>
        <ion-item *ngIf="selectedPlace.typeHoliday">
            <ion-label>Favorite Holiday Type</ion-label>
            <ion-label>{{getHolidayType(selectedPlace.typeHoliday)}}</ion-label>
        </ion-item>
        <ion-item *ngIf="selectedPlace.temperatureMin">
            <ion-label>Min Temperature</ion-label>
            <ion-label>{{selectedPlace.temperatureMin}}</ion-label>
        </ion-item>
        <ion-item *ngIf="selectedPlace.temperatureMax">
            <ion-label>Max Temperature</ion-label>
            <ion-label>{{selectedPlace.temperatureMax}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>